@font-face 
    font-family: 'Roboto'
    src: url('../fonts/roboto-300-normal.woff2') format('woff2'), url('../fonts/roboto-300-normal.woff') format('woff'), url('../fonts/roboto-300-normal.ttf') format('truetype')
    font-weight: 300
    font-style: normal

@font-face 
    font-family: 'Roboto-medium'
    src: url('../fonts/roboto-401-normal.woff2') format('woff2'), url('../fonts/roboto-401-normal.woff') format('woff'), url('../fonts/roboto-401-normal.ttf') format('truetype')
    font-weight: 400
    font-style: normal

=generation-font($size, $opacity, $color)
    opacity: $opacity
    color: $color
    font-size: $size
    font-family: 'Roboto'




