a
  text-decoration: none

*
  font-family: 'Roboto'
  box-sizing: border-box
  padding: 0
  margin: 0

ul
  list-style: none

.button
  width: 200px
  height: 40px
  padding: 11px 28px
  font-family: 'Roboto-medium'
  border-radius: 25px