.hero
  width: 100%
  height: 100vh
  overflow: hidden
  background: url('../img/hero.jpg') no-repeat center
  background-size: cover
  position: relative
  &-promo
    &__wrap
      position: absolute
      top: 80px
      left: 0
      right: 0
      bottom: 0
      margin: auto
      display: flex
      flex-direction: column
      align-items: flex-end
      justify-content: flex-start
      width: 100%
      max-width: 720px
      height: 276px
      text-align: right
    &__suptitle
      width: 100%
      +generation-font(20px, 0.7, #ffffff)
    &__title
      width: 100%
      padding: 0
      margin: 0
      +generation-font(80px, 1, #f1f1f1)
    &__descript
      margin: 25px 0 35px 0
      width: 100%
      +generation-font(16px, 0.5, #fcfcfc)
      line-height: 22px
    &__button
      background-color: rgba(255, 255, 255, 0.5)
      color: #000000
      font-size: 15px
