.navbar
  widht: 100%
  max-width: 720px
  margin: 19px auto 
  &__list
    display: flex
    justify-content: space-between
  &__link
    +generation-font(14px, 0.5, #ffffff)
    display: block
    height: 18px
    &:hover
      border-bottom: 1px solid white