@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-300-normal.woff2") format("woff2"), url("../fonts/roboto-300-normal.woff") format("woff"), url("../fonts/roboto-300-normal.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-medium';
  src: url("../fonts/roboto-401-normal.woff2") format("woff2"), url("../fonts/roboto-401-normal.woff") format("woff"), url("../fonts/roboto-401-normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

a {
  text-decoration: none; }

* {
  font-family: 'Roboto';
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

.button {
  width: 200px;
  height: 40px;
  padding: 11px 28px;
  font-family: 'Roboto-medium';
  border-radius: 25px; }

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../img/hero.jpg") no-repeat center;
  background-size: cover;
  position: relative; }
  .hero-promo__wrap {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    max-width: 720px;
    height: 276px;
    text-align: right; }
  .hero-promo__suptitle {
    width: 100%;
    opacity: 0.7;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto'; }
  .hero-promo__title {
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 1;
    color: #f1f1f1;
    font-size: 80px;
    font-family: 'Roboto'; }
  .hero-promo__descript {
    margin: 25px 0 35px 0;
    width: 100%;
    opacity: 0.5;
    color: #fcfcfc;
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 22px; }
  .hero-promo__button {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-size: 15px; }

.navbar {
  widht: 100%;
  max-width: 720px;
  margin: 19px auto; }
  .navbar__list {
    display: flex;
    justify-content: space-between; }
  .navbar__link {
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto';
    display: block;
    height: 18px; }
    .navbar__link:hover {
      border-bottom: 1px solid white; }

/*# sourceMappingURL=style.css.map */
